doctype 5
html(lang="en")
    head
        meta(charset="utf-8")
        link(href='main.css', rel='stylesheet')
        script(src='jquery-1.9.0.js')
        script(src='hack_vm.js')
    body
        h1 Hack VM

        h2 Code
        ul#buttons
            li
                a(href="#", id="step") step
            li 
                a(href="#", id="run") run
            li
                a(href="#", id="stop") stop
            li 
                a(href="#", id="reset") reset

        div#code
            p push constant 1
            p push constant 2
            p add
            p pop local 0
            p push constant 10
            p pop pointer 0
            p push constant 20
            p pop this 0

        h2 Global Stack
        div#stack
            | stack

        h2 RAM
        div#ram
            | ram

